<!DOCTYPE html>
<html>
  <div class="container">
  <%# Display validation errors in form %>
  <% if @food.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@food.errors.count, "error") %>
        prohibited this food from being saved:
      </h2>
   
      <ul>
      <% @food.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Please add the <b>name</b> and <b>number</b> of calories:</h3><p></p>
  <br>
  <!-- Form to fill with food details -->
  <%= form_for @food do |f|%>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %><br>

    <%= f.label :calories %>
    <%= f.number_field :calories %><br>
  </p>
    <%= f.submit %>
  <% end %>
  </div>
</html>